@using Blazored.LocalStorage
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ArchitektApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Forside
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
                Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booking">
                Book møde
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kontakt">
                Kontakt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kalender">
                Kalender
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/bookinger">
                Bookinger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/brugere">
                Medarbejdere
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                Log ind
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="nav-link btn btn-link" @onclick="Logout" style="border: none; background: none; padding: 0.5rem 1rem;">
                Log ud
            </button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("bruger");
        Navigation.NavigateTo("/login", true);
    }
}
