@page "/admin/brugere"
@using Core.Models
@using ArchitektApp.Service
@inject IBrugerService BrugerService

<PageTitle>Administrer medarbejder konti</PageTitle>

<h2>Medarbejder konti</h2>

@code {
    private List<Bruger> brugere = new();

    protected override async Task OnInitializedAsync()
    {
        brugere = await BrugerService.GetAll();
    }
}
