@page "/booking"
@using Core.Models
@using ArchitektApp.Service
@inject IBookingService BookingService

<PageTitle>Booking</PageTitle>

<h2>Opret bookingforespørgsel</h2>

@code {
    private Booking nyBooking = new Booking();
}
